{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a></li>
                <li class="breadcrumb-item"><a href="{{ path('app_event_index') }}">Événements</a></li>
                <li class="breadcrumb-item active" aria-current="page">Nouvel événement</li>
            </ol>
        </nav>

        <div class="card">
            <div class="card-header">
                <h1>Créer un nouvel événement</h1>
            </div>
            <div class="card-body">
                {{ include('event/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
